.left {
    float: left;
    width: 125px;
    text-align: right;
    margin: 2px 10px;
    display: inline;
    width: 50%;
  }
  .right {
    float: left;
    text-align: left;
    margin: 2px 10px;
    display: inline;
    
  }

  
  @media screen and (max-width:800px) {
    .left {
        width: 95%;
      }
      .right {
        width: 85%;
      }
   }