 
.right {
  float: left;
  text-align: left;
  margin: 2px 10px;
  display: inline
}
.alert{
  color: red;
  font-weight: bold
}
.success{
  color: green;
  font-weight: bold
}
.padding{
  font-weight: bold;
  padding-bottom:7px
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 120px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
}